.list-group-style {
	display: none;
}

ol {
	margin-bottom: 20px;
	padding-left: 20px;
}

.alert span {
	font-weight: 700;
}

@keyframes btn-click-hand {
	0% {left: -5px;}
	100% {left: 5px;}
}

.click-hand {
	animation: btn-click-hand 1s infinite alternate;
}